if SHIELD_VANCE_LEFT

config ZMK_KEYBOARD_NAME
    default "Vance"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_VANCE_LEFT || SHIELD_VANCE_RIGHT

config ZMK_SPLIT
    default y

endif
