# SPDX-License-Identifier: MIT

menu "Vance Keyboard"

config SHIELD_VANCE_LEFT
    bool "Vance (Left)"
    select ZMK_SPLIT
    select ZMK_SPLIT_ROLE_CENTRAL
    help
      Left half of the Vance split keyboard.

config SHIELD_VANCE_RIGHT
    bool "Vance (Right)"
    select ZMK_SPLIT
    select ZMK_SPLIT_ROLE_PERIPHERAL
    help
      Right half of the Vance split keyboard.

endmenu



